<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 col-sm-2 col-md-1">
            <img class="ps-Header-Build img-rounded" src="assets/images/dob_now_build.jpg" />
        </div>
        <div class="clearfix visible-md-block"></div>
        <div class="col-xs-9 col-sm-10 col-md-11 gradient-blues">
            <div class="col-xs-8 col-sm-8 col-md-9" style="padding-left:25px; padding-top:5px;">
                <span style="font-size: 27px;">DOB NOW </span>
                <div style="font-size: 20px;padding-top: 5px;">Submit Filings, Payments, and Requests to the NYC Department of Buildings</div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 pull-right" style="padding-top: 15px;">
                <div class="col-xs-12 col-sm-12 col-md-12 text-right " style="padding:0;">Welcome, Joe Adam</div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-right" style="padding:0; font-size:12px;">ajoetest@gmail.com</div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-right" style="padding:0;">
                    <a ui-sref="logOut">
                        <div style="font-size: 16px;">
                            Sign Out
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-pills nav-justified">
    <li><a routerLink="/portal/planWork" routerLinkActive="active">Plan Work</a></li>
    <li><a routerLink="/portal/scopeOfWork" routerLinkActive="active">Scope of Work</a></li>
    <li><a routerLink="/portal/costAffidavit" routerLinkActive="active">Cost Affidavit</a></li>
    <li><a routerLink="/portal/statementAndSignature" routerLinkActive="active">Statement And Signature</a></li>
</ul>
<div class="col-md-8">
    <!---  <app-planWork></app-planWork>  -->
    <router-outlet> </router-outlet>
</div>
<div class="col-md-4">
    <app-status></app-status>
</div>